:root{
    --border-processor: bisque;
    --background-processor: beige;
    --background-main: rgb(155, 155, 155);
    --background-lewy-prawy: rgb(94, 45, 255);
}

body{
    margin: 0px;
}

main{
    background-color: var(--background-main-footer);
    width: calc(100% - 20px);
    height: 900px;
    padding-left: 20px;
    padding-top: 10px;
}

h2{
    margin: 0;
}

#processor{
    width: 95%;
    height: 150px;
    background-color: var(--background-processor);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border: 4px var(--border-processor) solid;
}

h3{
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 7px;
    background-color: var(--border-processor);
    width: 150px;
}

#lewy{
    float: left;
    width: 15%;
    height: 873px;
    border-right: 2px darkcyan solid;
    background-color: var(--background-lewy-prawy);
}


#prawy{
    border-left: 2px darkcyan solid;
    width: calc(85% - 9px);
    height: 873px;
    float: left;
    background-color: var(--background-lewy-prawy);
}

#paseczek-kolor{
    background-color: rgb(145, 180, 168);
    width: 5px;
    float: left;
    height: 873px;
}

footer{
    width: 100%;
    background-color: var(--background-main-footer);
    margin-top: 0px;
    text-align: center;
    height: 28px;
    padding-top: 15px;
}

#p-footer{
    margin: 0px;
}
.kom-ts{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 3px;
}
.przycisk{
    border: 1px solid gray;
    background-color: #ece9d8;
    cursor: pointer;
    padding: 2px 5px;
}
.komorka{
    flex: 1;
    height: 22px;
    background-color: white;
    border: 1px solid gray;
}
.p-ts{
    text-align: right;
    font-size: 10px;
    padding: 1px 6px;
    color: gray;
}
.numeracja{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 0 40px;
}
.strzalka{
    text-align: center;
    color: orange;
    font-size: 16px;
}


